{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Accueil{% endblock %}
{% block javascripts %}
    <script>
        let choices = document.querySelectorAll(".homeChoice")
        choices.forEach( choice => {
            choice.addEventListener("click", ()=>{
                document.querySelector(".active").classList.remove("active")
                document.querySelector(".visible").classList.remove("visible")
                choice.classList.toggle("active")
                let link = choice.querySelector(".link")
                link.classList.toggle("visible")
            })
        })
    </script>
{% endblock %}
{% block header %}<header></header>{% endblock %}
{% block body %}
<section>
    <div class="homeLogo">
        <img src="{{asset("image/logoPF.png")}}" alt="logo">
    </div>
    <h1 class="title banner">Bienvenue sur PieceFinder</h1>
    <p class="banner">
        Bonjour et bienvenue sur PieceFinder,<br>
        Ce site résulte d'un long raisonnement et d'une volonté de rendre pratique l'usage quotidien des jeux de sociétés.
        A son origine, votre obligé, l'administrateur de cette application, qui est beaucoup trop féru des jeux de sociétés, en a une collection toujours en expansion, et ne s'en lasse pas.<br>
        Cependant, à force d'accumuler les différentes boîtes et les moments passés entre amis à les utiliser, il peut arriver (de plus en plus régulièrement) que certaines pièces, tuiles ou figurines viennent s'égarer sous le canapé ou dans une recoin de la pièce.
        Pour peu qu'elle soit retrouvée rapidement, il est aisé de se rappeler d'où celle-ci a pu provenir. Mais dans le cas contraire, vous voici au bon endroit \o/.

    </p>
    <br>
    <h2 class="banner title">Que faire ?</h2>
    <div class="homePannel box">
        <div class="homePannel">
            <div class="homeChoice active">
                <i class="fa-solid fa-chess-rook"></i>
                <a href="/everyGames">
                    <span class="link visible">Voir tous les jeux</span>
                </a>
            </div>

            {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                <div class="homeChoice">
                    <i class="fa-solid fa-cog"></i>
                    <a href="/admin">
                        <span class="link">Admin</span>
                    </a>
                </div>
            {% endif %}
            <div class="homeChoice">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="/search">
                    <span class="link hidden">Chercher un jeu ou l'origine d'une pièce</span>
                </a>
            </div>
            {% if app.user %}
                <div class="homeChoice">
                    <i class="fa-solid fa-id-card-clip"></i>
                    <a href="/user/details/{{app.user.id}}">
                        <span class="link hidden">Voir mon profil</span>
                    </a>
                </div>
                <div class="homeChoice">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="/app_logout">
                        <span class="link hidden">Se déconnecter</span>
                    </a>
                </div>
            {% else %}
                <div class="homeChoice">
                    <i class="fa-solid fa-address-card"></i>
                    <a href="/app_register">
                        <span class="link hidden">Créer un compte</span>
                    </a>
                </div>
                <div class="homeChoice">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <a href="/app_login">
                        <span class="link hidden">Se connecter</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
