{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Accueil{% endblock %}
{% block javascripts %}
    <script>
        let choices = document.querySelectorAll(".homeChoice")
        choices.forEach( choice => {
            choice.addEventListener("click", ()=>{
                document.querySelector(".active").classList.remove("active")
                document.querySelector(".visible").classList.remove("visible")
                choice.classList.toggle("active")
                let link = choice.querySelector(".link")
                link.classList.toggle("visible")
            })
        })
    </script>
{% endblock %}
{% block body %}
<section>
    <div class="homeLogo">
        <img src="{{asset("image/logoPF.png")}}" alt="logo">
    </div>
    <h1 class="title banner">Bienvenue sur PieceFinder</h1>
    <p class="banner">
        Lorem ipsum dolor sit amet. Non dolores officia ab aliquid consequatur aut fugit accusantium est aperiam dignissimos ut sequi similique id sunt numquam ab natus inventore. At tenetur quia rem laudantium voluptas et alias tenetur ad atque eligendi sed ullam sunt.<br>
        Et tenetur maxime non omnis laborum ad ipsa dignissimos a incidunt molestiae. Id dignissimos voluptatem ut officia voluptas id adipisci rerum ut quam asperiores ea iusto corrupti et Quis molestias. Rem neque praesentium ut accusamus consequuntur est possimus expedita ut labore doloribus.<br>
        Eum dolor omnis sit perspiciatis voluptas sit quasi placeat. Et earum facere cum Quis sunt ut unde quia.
    </p>
    <br>
    <h2 class="banner title">Que faire ?</h2>
    <div class="homePannel box">
        <div class="homePannel">
            <div class="homeChoice active">
                <i class="fa-solid fa-chess-rook"></i>
                <a href="/everyGames">
                    <span class="link visible">Voir tous les jeux</span>
                </a>
            </div>
            <div class="homeChoice">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="/search">
                    <span class="link hidden">Chercher un jeu ou l'origine d'une pièce</span>
                </a>
            </div>
            {% if app.user %}
                <div class="homeChoice">
                    <i class="fa-solid fa-id-card-clip"></i>
                    <a href="/user/details/{{app.user.id}}">
                        <span class="link hidden">Voir mon profil</span>
                    </a>
                </div>
                <div class="homeChoice">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="/app_logout">
                        <span class="link hidden">Se déconnecter</span>
                    </a>
                </div>
            {% else %}
                <div class="homeChoice">
                    <i class="fa-solid fa-address-card"></i>
                    <a href="/app_register">
                        <span class="link hidden">Créer un compte</span>
                    </a>
                </div>
                <div class="homeChoice">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <a href="/app_login">
                        <span class="link hidden">Se connecter</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
