/*  SOMMAIRE
=========================================
    Mise en place de la palette de couleur initiale
=========================================
    Définiton des bases (wrappers, apparence des listes, ...)
=========================================
    Header / Menu
=========================================
    Page d'accueil
=========================================
    Affichage des cards de jeux ou pièces
=========================================
    Spécifique au pages de détail des jeux
=========================================
    Page de détail Utilisateur
=========================================
    Specifique aux formulaires
=========================================
    Recherche
=========================================
    Page d'erreur
=========================================
    Footer
=========================================
    Média query pour l'adaptation aux supports
=========================================
*/

/*=========================================
    Mise en place de la palette de couleur initiale
=========================================*/
:root{
    --main-xxclear: rgb(217, 244, 252);
    --main-xclear: rgb(76,201,240);
    --main-clear: rgb(72,149,239);
    --main-middle: rgb(67,97,238);
    --main-dark: rgb(63,55,201);
    --main-xdark: rgb(58,12,163); 
    --main-xxdark: rgb(20, 4, 58);
}
/*=========================================
    Définiton des bases (wrappers, apparence des listes, ...)
=========================================*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.extWrapper{
    width: 100vw;
    padding: 0 10px;
    background-color: var(--main-xxdark);
    color: var(--main-xxdark);
    overflow: hidden;
}
.intWrapper{
    max-width: 1200px;  
    margin: auto;
}
.bodyWrapper{
    min-height: 95vh;
    padding: 20px;
    background-color: var(--main-xxclear);
}
a{
    color: var(--main-xxdark);
    font-weight: bold;
}
a:focus{
    outline: none;
}
ul{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
ul.cgu{
    padding-left: 4em;
}
li:before{
    content: "> ";
}
i.mobile{
    display: none;
}
div.flashMessage{
    width: 80%;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
}
.flashMessage.alert::before, .flashMessage.alert::after{
    content: " !! ";
    font-size: 1.5em;
}
.flashMessage.alert{
    color: var(--main-xdark);
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
}
/*=========================================
    Header / Menu
=========================================*/
header{
    display: flex;
    justify-content: space-between;
    color: var(--main-xclear);
    padding: 5px 1em;
    min-height: 2vh;
}
.logo.noun{
    display: flex;
    align-items: center;
}
.logo.noun a{
    margin: 0 5px;
    color: var(--main-xclear)
}
.PFlogo{
    width: 30px;
    height: 30px;
}
.PFlogo img{
    height: 100%;
    object-fit: contain;
}
.headerMenu{
    display: flex;
    align-items: center;
}
footer a, header a{
    display: inline-block;
    position: relative;
    margin: 0 1em;
    text-decoration: none;
    color: inherit;
    transition: transform 0.4s;
}
header a:not(.PFlogo):after, footer a:after{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -2px;
    left: 5%;
    background-color: var(--main-xclear);
    transform: scaleX(0);
    transition: transform 0.3s;
}
header a:hover, header a:focus, footer a:hover, footer a:focus{
    transform: scale(1.1);
}
header a:hover:after, header a:focus:after, footer a:hover:after, footer a:focus:after{
    transform: scaleX(1);
}
/*=========================================
    Page d'accueil
=========================================*/
.homeLogo + h1{
    font-size: 3em;
    margin: 0.3em;
}
p.banner{
    width: 80%;
    margin: auto;
}
.homeLogo{
    text-align: center;
}
.homeLogo img{
    height: 150px;
}
.homePannel.box{
    width: 70%;
    min-height: 200px;
    margin: auto
}
.homePannel{
    display: flex;
    align-items: stretch;
    justify-content: center;   
    width: 100%;
    border-top: 1px solid var(--main-xxdark);
    border-bottom: 1px solid var(--main-xxdark);
    border-right: 1px solid var(--main-xxdark);
    background-color: var(--main-xxclear);
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.homePannel i{
    font-size: 3em;
}
.homePannel a{
    position: relative;
    display: inline-block;
    font-size: 1.3em;
    margin: 0.5em;
    text-decoration: none;
    color: var(--main-xxdark);
    transition: transform 0.3s;
}
.homePannel a:hover{
    transform: scale(1.1);
}
.homePannel a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-xxdark);
    transform: scaleX(0);
    height: 2px;
    transition: transform 0.3s;
}
.homePannel a:hover:after, a:focus:after{
    transform: scaleX(1);
}
.homeChoice{
    position: relative;
    width: 70px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--main-xxdark);
    border-radius: 10px 0 0 10px;
    background-color: var(--main-xxclear);
    color: var(--main-xxdark);
    transition: width 0.4s, background-color 0.6s;
    z-index: 1;
}
.homeChoice i{
    margin: 5px;
}
.link{
    display: none;
}
.link.visible{
    display: inline;
}
.homeChoice.active{
    background-color: var(--main-xclear);
    width: 75%;
}
.homeChoice.active::after{
    content: "";
    height: 100%;
    background-color: var(--main-xclear);
    z-index: 0;
    position: absolute;
    width: 10px;
    right: -10px;
}
/*=========================================
    Affichage des cards de jeux
=========================================*/
.orderBy{
    display: flex;
    margin: -1em 0 auto;
    width: fit-content;
    align-self: flex-end;
    align-items: center;
}
.order{
    display: inline-block;
    margin: 5px;
}
.order:hover{
    text-decoration: underline;
    font-weight: 600;
}
.orderChoice{
    font-size: 1.2em;
    display: none;
}
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.itemCard{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-dark);
    border-radius: 5px;
    padding-bottom: 0.5em;
    box-shadow: 0 0 0 0;
    transition: box-shadow 0.2s, transform 0.2s;
}
.itemCard:hover{
    cursor: pointer;
    box-shadow: 3px 3px 8px var(--main-xdark);
    transform: scale(1.02);
}
.itemCard figure{
    text-align: center;
    height: 120px;
    margin: 5px auto;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
figure figcaption{
    bottom: 0;
}
.title{
    text-decoration: none;
    color: var(--main-xdark);
}
.banner{
    text-align: center;
}
/*=========================================
    Spécifique au pages de détail des jeux
=========================================*/
.category{
    display: inline-block;
    background-color: var(--main-xdark);
    border-radius: 5px;
    color: var(--main-xclear);
    margin: 2px 2px;
    padding: 2px 4px;
}
.gameDetail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex1{
    flex: 1;
}
.gameInfos{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}
.miniature{
    margin: 0 1em;
    min-width: 250px;
}
.miniature img{
    max-width: 100%;
    object-fit: cover;
}
.text.center{
    text-align: center;
}
#addbtn{
    width: 120px;
}
.gameContent{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 1.3em;
}
.contentList{
    margin: 0 1em;
    width: 250px;
}
.pieceDescription{
    position: relative;
}
.imgHover{
    display: block;
    position: absolute;
    left: -110px;
    bottom: -55px;
    margin: 5px;
    visibility: hidden;
    width: 100px;
    height: 100px;
    z-index: 1;
}
.imgHover img{
    border: 1px solid var(--main-xxdark);
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}
.pieceDescription:hover{
    font-weight: 700;
}
.pieceDescription:hover .imgHover{
    visibility: visible;
}
.gamePeople{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10%;
}
.card{
    border: 1px solid var(--main-xdark);
    box-shadow: 2px 5px 5px var(--main-dark);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.card :nth-child(1){
    font-size: 0.7em;
    color: var(--main-dark);
}
.card p{
    margin: 0;
}
.paragraphs p{
    margin: 0.5em 1.5em;
    text-align: justify;
}
.comments{
    width: 75%;
    margin: 2em auto 0;
}
.comment{
    border: 1px solid var(--main-xxdark);
    margin: 0.5em 0;
    border-radius: 5px;
    padding: 0.5em;
}
.comment p, .comment a{
    margin: 5px;
}
.commentInfos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-xxdark);
}
strong{
    font-size: 1.2em;
}
.commentInfos :nth-child(1){
    display: inline-flex;
}
p.commentText{
    margin-left: 2em; 
}
/*=========================================
    Page de détail Utilisateur
=========================================*/
.userCollection{
    position: relative;
}
.userCollection .itemCard{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.userCollection .itemCard:hover{
    transform: none;
}
.userCollection .tip{
    position: absolute;
    background-color: var(--main-clear);
    color: var(--main-xxdark);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    right: 0px;
    top: 15px;
    width: fit-content;
    visibility: hidden;
}
.userCollection i{
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 1;
}
.userCollection i:hover, i:hover + .tip{
    cursor: pointer;
    visibility: visible;
    z-index: 1;
}

/*=========================================
    Specifique aux formulaires
=========================================*/
.informations{
    margin: auto;
    max-width: 500px;
}
.form{
    margin: 0 auto;
}
.form.contact{
    max-width: 500px;
}
.form.align{
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
}
.form.w5050{
    grid-template-columns: 160px 1fr;
    text-align: right;
}
.w5050 label{
    margin: 0 1em;
}
.form.center{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: stretch;
    align-items: flex-end;
}
input, select, textarea{
    border-radius: 5px;
    padding: 5px 8px;
    border-width: 2px;
    border-style: inset;
    margin: 1em 0;
}
textarea{
    width: 100%;
    resize: vertical;
}
label.required::after{
    content:"*";
    color: var(--main-xdark);
}
#addComment{
    display: block;
}
#commentForm{
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: height 0.5s, opacity 1s;
}
.userInfos{
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: height 0.5s, opacity 1s;
}
.userInfos.active{
    visibility: visible;
    height: 500px;
    opacity: 1;
}
#commentForm.active{
    visibility: visible;
    height: 300px;
    opacity: 1;
}
.range{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.range input[type="range"]{
    width: 70%;
}
.range input[type="number"]{
    width: 3em;
    padding: 3px;
}
.btn{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--main-xclear);
    border-style: outset;
    margin: 1em;
    min-width: 175px;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.btn.main{
    width: 40%;
    background-color: var(--main-clear);
    color: var(--main-xxdark);
    margin-right: 1em;
}
.btn:hover{
    border-style: inset;
}
.address{
    display: flex;
    align-items: center;
}
.address input{
    margin: 0 5px;
}
.address :nth-child(2){
    width: 4em;
}
.address :nth-child(4){
    flex: 1;
}
/*=========================================
    Recherche et résultats
=========================================*/
.multiform{
    display: flex;
    justify-content: center;
}
.multiform .form{
    margin: 0;
}
.multiform .form.contact{
    width: 100%;
}
.multiform input, .multiform select, .multiform textarea{
    margin: 0.5em 1em 0.5em 0;
}
.itemCard.piece{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
}
.pieceImg{
    margin: 0;
}

/*tableau des informations sur les pièces*/

.pieceDetail{
    margin: 0;
    margin: 0 auto;
}
.pieceDetail .title{
    margin: 0 auto;
}
.pieceDetail td{
    align-self: baseline;
}
/*gestion de l'affichage des photos en grand*/
.modalBack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 4, 58, .8);
    z-index: 1;
    transition: opacity 0.5s;
}
.modalBack:after{
    position: absolute;
    font-size: 2em;
    top: 2%;
    right: 1em;
    content: "X";
    color: var(--main-xxclear);
}
.modalBack:after:hover{
    cursor: pointer;
}
.modal{
    z-index: 2;
    margin: 5% auto;
    width: 80%;
    height: 90%;
    background-color: var(--main-xxclear);
    opacity: 100;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal img{
    max-height: 100%;
    max-width: 60%;
    flex: 1;
    object-fit: contain;
}
.modal .pieceDetail, .modal .pieceDetail td{
    border: 1px solid var(--main-xxdark);
    border-collapse: collapse;
    padding: 2px 5px;
}
.modal .notModal{
    display: none;
}
/*=========================================
    Page d'erreur
=========================================*/
.error.banner{
    font-size: 1.4em;
}
.error span{
    display: inline-block;
}
.linkHome{
    text-decoration: none;
    align-items: baseline;
}
.forest{
    position: relative;
}
.tree{
    margin: 0 -0.5em;
    z-index: 1;
}
.man{
    transform: scale(-1,1);
    margin: 0 -0.3em 0 0;
}
.house{
    font-size: 3em;
    z-index: 4;
    margin: 0 -0.15em;
}
#jeu{
    margin: 1em auto;
    max-width: 330px;
    height: 330px;
    border: 1px solid var(--main-xxdark);
    border-radius: 5px;
    background-color: var(--main-dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid var(--main-xxdark);
    border-radius: 5px;
    background-color: var(--main-xxclear);
    cursor: pointer;
    font-size: 5em;
    justify-self: center;
    align-self: center;
    transition: background-color 0.6s;
    text-align: center;
}
.cell:hover{
    background-color: var(--main-xclear);
}
.affichage{
    margin: 1em auto;
    font-size: 2em;
}
.cochee{
    background-color: var(--main-clear);
    color: var(--main-xdark);
    cursor: not-allowed;
}
.cochee:hover{
    background-color: var(--main-clear);
}
/*=========================================
    Footer
=========================================*/
footer{
    max-width: 1200px;
    width: 100%;
    background-color: var(--main-xxdark);
    color: var(--main-xxclear);
    display: flex;
    justify-content: space-between;
}
.infoSite{
    display: flex;
    align-items: center;
}
footer p{
    margin: 5px 1em;
}
/*=========================================
    Média query pour l'adaptation aux supports
=========================================*/
@media only screen and (max-width: 850px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
    .multiform{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 650px) {
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .desktop{
        display: none;
    }
    .homePannel.box{
        width: 100%;
    }
    i.mobile{
        display: initial;
        font-size: 1.5em;
    }
    .gameDetail{
        flex-wrap: wrap;
    }
    .gameInfos>div{
        margin: 0 1em;
    }
    .gamePeople{
        gap: 2em;
    }
    .modal{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .modal img{
        max-width: 100%;
        max-height: 80%;
        flex: 0;
    }
}
@media only screen and (max-width: 550px) {
    .headerMenu{
        flex: 1;
        justify-content: space-evenly;
    }
    .PFlogo{
        height: 37px;
    }
    header a{
        margin: 0;
        font-size: 1.5em;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    .gamePeople{
        grid-template-columns: repeat(2, 1fr);
    }
    .commentInfos{
        flex-direction: column;
        align-items: flex-start;
    }
    p.commentText{
        margin: 0.5em ;
    }
    .form.align{
        display: flex;
        flex-direction: column;
    }
    input:not(.btn, [type="checkbox"]), select, textarea{
        width: 80%;
    }
    .userInfos .form.align{
        display: grid;
        grid-template-columns: 20% 1fr;
        align-items: center;
    }
    .userInfos input, .userInfos textarea{
        width: 100%;
    }
    .modalBack:after{
        right: 2%;
    }
}
@media only screen and (max-width: 440px) {
    header{
        padding: 5px 0;
    }
    .itemCard.piece{
        display: flex;
        align-items: center;
    }
    footer div p{
        display: none;
    }
    .gameInfos{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .gallery.piece{
        display: block;
    }
    .homePannel{
        flex-direction: column;
        border-radius: 10px 10px 0 0;
        border-top: none;
        border-left: 1px solid var(--main-xxdark);
    }
    .homeChoice, .homeChoice.active{
        width: 100%;
        border-top: 2px solid var(--main-xxdark);
        border-left: none;
        border-radius: 10px 10px 0 0;
    }
    .homeChoice.active::after{
        width: 100%;
        height: 10px;
        bottom: -10px;
        right:0;
    }
    
}